body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    /* Backup color of the linear-gradient isn't supported */
    background: rgb(255, 107, 27);
    background: linear-gradient(157deg, rgba(255, 107, 27, 1) 15%, rgba(255, 169, 16, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    /* overflow: hidden; */
    display: flex;
}

/* 
.start-screen {
    background-image: url('../background-supermarket.jpg');
    background-size: cover;
    height: 80vw;
    width: 100%;
}

h1.start-title {
    text-align: center;
    margin: 10vw 20vw 10vw 20vw;
} */
/* 
.start-btn {
    font-size: 3vw;
    padding: 10px 30px;
    text-decoration: none;
    background: rgb(255, 107, 27);
    background: linear-gradient(157deg, rgba(255, 107, 27, 1) 15%, rgba(255, 169, 16, 1) 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
} */
/* 
.container {
    background: #f8f8f8;
    position: absolute;
    width: 100%;
    height: 30%;
} */

.task-list {
    line-height: 1.7em;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name {
    cursor: pointer;
}

.list-name:hover,
.list-name:focus {
    opacity: 0.8;
}

.todo-list {
    background: #f8f8f8;
    color: black;
    padding: 15px;
    width: 60vw;
}

.todo-header {
    background: #e5e5e5;
    padding: 15px 15px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-title {
    margin: 0 1vw 0 0;
}

form {
    display: flex;
}

.btn-task,
.btn-list {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: inherit;
    background-color: black;
    border: none;
    border-radius: 50px;
    width: 6vw;
    height: 6vw;
}

.btn-task:hover,
.btn-task:focus,
.btn-list:hover,
.btn-list:focus {
    transition: 0.3s ease-in;
    font-size: 4vw;
}

.new {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50px;
    font-size: inherit;
    padding: 5px 5px 5px 15px;
    color: black;
    order: 0;
}

.new:focus,
.new:hover {
    transition: 0.3s;
    border: solid 2px white;
}

.new:focus::placeholder,
.new:hover::placeholder {
    opacity: 0.4;
}

.active-list {
    font-weight: bold;
}

.todo-list {
    margin: 70px 0 0 70px;
    padding: 0;
    line-height: 1.7em;
}

.task-count {
    margin: 0;
    font-size: 2vw;
}

.todo-body {
    padding: 20px;
}

[type='checkbox'] {
    position: absolute;
    height: 4vw;
}

[type='checkbox']:checked+label {
    color: gray;
    text-decoration: line-through gray;
}

.task label {
    display: flex;
    align-items: center;
    margin: 0 0 10px 25px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid lightgray;
    /* position: relative; */
}

.delete-stuff {
    display: flex;
    justify-content: space-between;
}