<html>

<head>
  <title>Grocery list App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div class="container">
    <h1>My grocery list</h1>

    <form action="/addproduct" method="POST">
      <input id="rad1" type="checkbox" name="rad" />
      <label for="rad1"><b>Added</b> products</label>

      <!-- The added products -->
      <ul class="added-products">
        <% for( var i = 0; i < task.length; i++){ %>
        <li class="product">
          <input type="checkbox" class="added" id="added" name="check" value="<%= task[i] %>" />
          <label for="added"> <%=task[i] %></label>
          <button class="delete-added-item">x</button>
        </li>
        <% } %>
      </ul>

      <!-- Add a new product -->
      <div add-new-product>
        <input type="text" name="newproduct" placeholder="Add new product" />
        <button add>+</button>
      </div>


      <!-- Move the checked products to the "Completed" -->
      <button check formaction="/removeproduct" type="submit" id="top">
        <svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.53 88.84">
          <defs>
            <style>
              .cls-1 {
                fill: none;
                stroke: #000c47;
                stroke-miterlimit: 10;
                stroke-width: 18px;
              }
            </style>
          </defs>
          <title>Check icon</title>
          <path class="cls-1"
            d="M56.8,157.77q6.2,5.38,12.58,10.79,10.61,9,21.18,17.7c8.22-12.47,17.44-25.45,27.8-38.85,8.36-10.81,16.84-21.07,25.3-30.78"
            transform="translate(-50.91 -110.72)" />
        </svg>
      </button>
    </form>

    <input id="rad2" type="checkbox" name="rad" /><label for="rad2"><b>Checked</b> products</label>

    <!-- The completed products -->
    <ul class="checked-products">
      <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked /><%= complete[i] %>
        <button class="delete-completed-item">x</button>
      </li>
      <% } %>
    </ul class="checked-products">

    <!-- Delete or share the list -->
    <div class="delete-share-container">
      <button class="btn-delete" delete-list-btn>Delete list</button>
      <button class="btn-share" share-btn>Share list</button>
    </div>

    <!-- The (in)visible share  -->
    <button class="share">
      <h3>Share</h3>
    </button>
    <div class="overlay">
    </div>

    <script src="client.js"></script>
</body>

</html>