<html>

<head>
  <title>Grocery list App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div class="container">
    <h1>My grocery list</h1>

    <form action="/addproduct" method="POST">
      <input id="rad1" type="checkbox" name="rad" />
      <label for="rad1"><b>Added</b> products</label>

      <!-- The added products -->
      <ul class="added-products">
        <% for( var i = 0; i < task.length; i++){ %>
        <input type="checkbox" id="delete-btn">
        <li class="product">
          <button check formaction="/removeproduct" type="submit" id="top">
            <input type="checkbox" class="added" id="added" name="check" checked="checked" value="<%= task[i] %>" />
            <label for="added"> <%=task[i] %></label>
        </li>
        <% } %>
      </ul>

      <!-- Add a new product -->
      <div add-new-product>
        <input type="text" name="newproduct" placeholder="Add new product" />
        <button add>+</button>
      </div>
    </form>

    <input id="rad2" type="checkbox" name="rad" /><label for="rad2"><b>Checked</b> products</label>

    <!-- The completed products -->
    <ul class="checked-products">
      <% for(var i = 0; i < complete.length; i++){ %>
      <input type="checkbox" id="delete-btn">
      <li><input type="checkbox" checked /><%= complete[i] %>
      </li>
      <% } %>
    </ul class="checked-products">

    <!-- Delete or share the list -->
    <div class="delete-share-container">
      <button class="btn-delete" delete-list-btn>Delete list</button>
      <button class="btn-share" share-btn>Share list</button>
    </div>

    <!-- The (in)visible share  -->
    <button class="share">
      <h3>Share</h3>
    </button>
    <div class="overlay">
    </div>

    <script src="client.js"></script>
</body>

</html>